
.product {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  position: relative;
  cursor: pointer;
  padding-bottom: 10px;
  padding-top: 25px;
}

.product-image {
  width: 355px;
  height: 500px;
}

.product-name {
  font-size: 13px;
  font-weight: 550;
}
.product-price {
  font-size: 13px;
  padding-bottom: 30px;
  font-weight:550;
}