.layout {
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.layout-nav {
  flex: 1;
  padding: 50px 100px 0 105px;
}

.layout-children {
  flex: 2;
  padding: 100px 100px 80px 100px;
}

.layout-footer {
  flex: 3;
  padding: 100px;
  background-color: #9B9294;
}

@media (max-width: 1024px) {
  .layout {
    height: 20%;
  }
  .layout-children {
    height: 60%;
  }
  .layout-footer {
    font-size: 12px;
    height: 20%;
  }
}

@media (max-width: 800px) {
  .layout {
    height: 20%;
  }
  .layout-children {
    height: 60%;
  }
  .layout-footer {
    font-size: 12px;
    height: 20%;
  }
}